NUXT_PUBLIC_SITE_URL=https://stackos.flowmonkey.io
NUXT_PUBLIC_GA_MEASUREMENT_ID=G-KPZXCGXGG5
NUXT_PUBLIC_DOWNLOAD_URL=https://flowmonkey.io/StackOS/stackos-2.0.0-mac-arm64.dmg
NUXT_PUBLIC_DOWNLOAD_VERSION=2.0.0
